<section class="new-post panel panel-default">
  <section class="panel-body">
    <form action="" class="post-form">
      <div class="form-group">
        <label class="control-label string required" for="post_caption"><abbr title="required">*</abbr> What do you think of now ..</label>
        <textarea class="form-control string required" rows="3" required="required" aria-required="true" type="text"
          name="post[caption]" id="post_caption"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
    </form>
  </section>
</section>
