.mmr-0 {
  margin-right: 0rem;
}
.mmr-1 {
  margin-right: 0.5rem;
}
.mmr-2 {
  margin-right: 2rem  !important;
}
.mmr-4 {
  margin-right: 4rem !important;
}

.mml-0 {
  margin-left: 0rem;
}
.mml-1 {
  margin-left: 0.5rem;
}
.mml-2 {
  margin-left: 1rem;
}

.mm-0 {
  margin: 0rem;
}
.mm-1 {
  margin: 0.5rem;
}
.mm-2 {
  margin: 2rem;
}
.mm-4 {
  margin: 4rem;
}

.mmt-1{
  margin-top: .025rem;
}
.pml-0 {
  padding-left: 0rem;
}
.pml-1 {
  padding-left: 0.5rem;
}
.pml-2 {
  padding-left: 1rem;
}

.pmr-0 {
  padding-right: 0rem;
}
.pmr-1 {
  padding-right: 0.5rem;
}
.pmr-2 {
  padding-right: 1rem;
}

.pm-0 {
  padding: 0rem;
}
.pm-1 {
  padding: 0.5rem;
}
.pm-2 {
  padding: 1rem;
}
