$primary-color: #283e4a;
$secondry-color: #1a2931;
$lightgray: #364045;
$green-active: #469a1f;
$cover-color: #f5f5f5;
$primary-text-color: #c5cfd6;
$border-color: #c0c0c0;
$darkblue:#006097;
$blue:rgb(33, 123, 172);
$txt-color:#3d3b3b;