$primary-color: #283e4a;
$secondry-color: #1a2931;
$lightgray: #364045;
$green-active: #469a1f;
$cover-color: #f5f5f5;
$primary-text-color: #c5cfd6;
$border-color: #c0c0c0;
$darkblue:#006097;
$blue:rgb(33, 123, 172);
$txt-color:#3d3b3b;


$color-primary-btn:steelblue;
$color-background-hover:rgba(152, 216, 244, .45);
$color-white:#fff;
$color-light-gray:rgba(178, 190, 195, 0.45);
$color-dark-gray:#242424;
$color-transparent:transparent;

$padding-small:0.8rem 1.6rem;



$primary-font-family: open sans-serif;
$secondery-font-family: "Poppins", Arial, sans-serif;
$title-font-size:3rem;
$subtitle-font-size: 1.4rem;
@mixin mp {
  padding: 10px;
  margin: 10px;
  background-color: black;
}
@mixin marpad-words {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.8;

}

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;
$text-color		: #777777;



@mixin transition($args: all 0.3s ease 0s) {
  -webkit-transition: $args;
     -moz-transition: $args;
       -o-transition: $args;
          transition: $args;
}
