<form class="postContainer__form " (ngSubmit)="onCommentAdd(f)" #f="ngForm">
  <!-- Write new comment -->
  <div class="row align-items-end">
    <div class="col-1">
      <a
        href="#"
        class="postContainer__img postContainer__img__comment "
        style="background-image: url(../assets/images/personal-img.png);"
        [ngStyle]="{'background-image': 'url(' + person.imageUrl + ')'}"
      ></a>
    </div>
    <div class="form-group col">
      <input
        class="form-control comment-area "
        type="text"
        id=""
        placeholder="Comment ..."
        name="comment"
        ngModel
        #commentData
      />
    </div>
    <div class="col-1">
      <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
      <div class="c"></div>
    </div>
  </div>
</form>
